@import url(https://fonts.googleapis.com/css?family=Rubik:300,300i,400,400i,500,500i,700,700i,900,900i&display=swap);
@import url(https://fonts.googleapis.com/css?family=Ubuntu:300,300i,400,400i,500,500i,700,700i&display=swap);
@import url(https://fonts.googleapis.com/css?family=Muli:200,300,400,500,600,700,800,900,200i,300i,400i,500i,600i,700i,800i,900i&display=swap);
@import url(https://fonts.googleapis.com/css?family=Roboto+Slab:100,200,300,400,500,600,700,800,900&display=swap);





body {
  font-family: Rubik;
}
.display-1 {
  font-family: 'Rubik', sans-serif;
  font-size: 6rem;
  font-display: swap;
}
.display-1 > .mbr-iconfont {
  font-size: 9.6rem;
}
.display-2 {
  font-family: 'Rubik', sans-serif;
  font-size: 4rem;
  font-display: swap;
}
.display-2 > .mbr-iconfont {
  font-size: 6.4rem;
}
.display-4 {
  font-family: 'Roboto Slab', serif;
  font-size: 2rem;
  font-display: swap;
}
.display-4 > .mbr-iconfont {
  font-size: 3.2rem;
}
.display-5 {
  font-family: 'Ubuntu', sans-serif;
  font-size: 2.4rem;
  font-display: swap;
}
.display-5 > .mbr-iconfont {
  font-size: 3.84rem;
}
.display-7 {
  font-family: 'Muli', sans-serif;
  font-size: 2rem;
  font-display: swap;
}
.display-7 > .mbr-iconfont {
  font-size: 3.2rem;
}
/* ---- Fluid typography for mobile devices ---- */
/* 1.4 - font scale ratio ( bootstrap == 1.42857 ) */
/* 100vw - current viewport width */
/* (48 - 20)  48 == 48rem == 768px, 20 == 20rem == 320px(minimal supported viewport) */
/* 0.65 - min scale variable, may vary */
@media (max-width: 768px) {
  .display-1 {
    font-size: 4.8rem;
    font-size: calc( 2.75rem + (6 - 2.75) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.4 * (2.75rem + (6 - 2.75) * ((100vw - 20rem) / (48 - 20))));
  }
  .display-2 {
    font-size: 3.2rem;
    font-size: calc( 2.05rem + (4 - 2.05) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.4 * (2.05rem + (4 - 2.05) * ((100vw - 20rem) / (48 - 20))));
  }
  .display-4 {
    font-size: 1.6rem;
    font-size: calc( 1.35rem + (2 - 1.35) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.4 * (1.35rem + (2 - 1.35) * ((100vw - 20rem) / (48 - 20))));
  }
  .display-5 {
    font-size: 1.92rem;
    font-size: calc( 1.49rem + (2.4 - 1.49) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.4 * (1.49rem + (2.4 - 1.49) * ((100vw - 20rem) / (48 - 20))));
  }
}
/* Buttons */
.btn {
  padding: 1rem 3rem;
  border-radius: 3px;
}
.btn-sm {
  padding: 0.6rem 1.5rem;
  border-radius: 3px;
}
.btn-md {
  padding: 1rem 3rem;
  border-radius: 3px;
}
.btn-lg {
  padding: 1.2rem 3.2rem;
  border-radius: 3px;
}
.bg-primary {
  background-color: #232323 !important;
}
.bg-success {
  background-color: #f9f295 !important;
}
.bg-info {
  background-color: #0f7699 !important;
}
.bg-warning {
  background-color: #5b686b !important;
}
.bg-danger {
  background-color: #232323 !important;
}
.btn-primary,
.btn-primary:active {
  background-color: #232323 !important;
  border-color: #232323 !important;
  color: #ffffff !important;
}
.btn-primary:hover,
.btn-primary:focus,
.btn-primary.focus,
.btn-primary.active {
  color: #ffffff !important;
  background-color: #000000 !important;
  border-color: #000000 !important;
}
.btn-primary.disabled,
.btn-primary:disabled {
  color: #ffffff !important;
  background-color: #000000 !important;
  border-color: #000000 !important;
}
.btn-secondary,
.btn-secondary:active {
  background-color: #ff3366 !important;
  border-color: #ff3366 !important;
  color: #ffffff !important;
}
.btn-secondary:hover,
.btn-secondary:focus,
.btn-secondary.focus,
.btn-secondary.active {
  color: #ffffff !important;
  background-color: #e50039 !important;
  border-color: #e50039 !important;
}
.btn-secondary.disabled,
.btn-secondary:disabled {
  color: #ffffff !important;
  background-color: #e50039 !important;
  border-color: #e50039 !important;
}
.btn-info,
.btn-info:active {
  background-color: #0f7699 !important;
  border-color: #0f7699 !important;
  color: #ffffff !important;
}
.btn-info:hover,
.btn-info:focus,
.btn-info.focus,
.btn-info.active {
  color: #ffffff !important;
  background-color: #084053 !important;
  border-color: #084053 !important;
}
.btn-info.disabled,
.btn-info:disabled {
  color: #ffffff !important;
  background-color: #084053 !important;
  border-color: #084053 !important;
}
.btn-success,
.btn-success:active {
  background-color: #f9f295 !important;
  border-color: #f9f295 !important;
  color: #877e08 !important;
}
.btn-success:hover,
.btn-success:focus,
.btn-success.focus,
.btn-success.active {
  color: #877e08 !important;
  background-color: #f5e94d !important;
  border-color: #f5e94d !important;
}
.btn-success.disabled,
.btn-success:disabled {
  color: #877e08 !important;
  background-color: #f5e94d !important;
  border-color: #f5e94d !important;
}
.btn-warning,
.btn-warning:active {
  background-color: #5b686b !important;
  border-color: #5b686b !important;
  color: #ffffff !important;
}
.btn-warning:hover,
.btn-warning:focus,
.btn-warning.focus,
.btn-warning.active {
  color: #ffffff !important;
  background-color: #384042 !important;
  border-color: #384042 !important;
}
.btn-warning.disabled,
.btn-warning:disabled {
  color: #ffffff !important;
  background-color: #384042 !important;
  border-color: #384042 !important;
}
.btn-danger,
.btn-danger:active {
  background-color: #232323 !important;
  border-color: #232323 !important;
  color: #ffffff !important;
}
.btn-danger:hover,
.btn-danger:focus,
.btn-danger.focus,
.btn-danger.active {
  color: #ffffff !important;
  background-color: #000000 !important;
  border-color: #000000 !important;
}
.btn-danger.disabled,
.btn-danger:disabled {
  color: #ffffff !important;
  background-color: #000000 !important;
  border-color: #000000 !important;
}
.btn-white {
  color: #333333 !important;
}
.btn-white,
.btn-white:active {
  background-color: #ffffff !important;
  border-color: #ffffff !important;
  color: #808080 !important;
}
.btn-white:hover,
.btn-white:focus,
.btn-white.focus,
.btn-white.active {
  color: #808080 !important;
  background-color: #d9d9d9 !important;
  border-color: #d9d9d9 !important;
}
.btn-white.disabled,
.btn-white:disabled {
  color: #808080 !important;
  background-color: #d9d9d9 !important;
  border-color: #d9d9d9 !important;
}
.btn-black,
.btn-black:active {
  background-color: #333333 !important;
  border-color: #333333 !important;
  color: #ffffff !important;
}
.btn-black:hover,
.btn-black:focus,
.btn-black.focus,
.btn-black.active {
  color: #ffffff !important;
  background-color: #0d0d0d !important;
  border-color: #0d0d0d !important;
}
.btn-black.disabled,
.btn-black:disabled {
  color: #ffffff !important;
  background-color: #0d0d0d !important;
  border-color: #0d0d0d !important;
}
.btn-primary-outline,
.btn-primary-outline:active {
  background: none;
  border-color: #000000;
  color: #000000;
}
.btn-primary-outline:hover,
.btn-primary-outline:focus,
.btn-primary-outline.focus,
.btn-primary-outline.active {
  color: #ffffff;
  background-color: #232323;
  border-color: #232323;
}
.btn-primary-outline.disabled,
.btn-primary-outline:disabled {
  color: #ffffff !important;
  background-color: #232323 !important;
  border-color: #232323 !important;
}
.btn-secondary-outline,
.btn-secondary-outline:active {
  background: none;
  border-color: #cc0033;
  color: #cc0033;
}
.btn-secondary-outline:hover,
.btn-secondary-outline:focus,
.btn-secondary-outline.focus,
.btn-secondary-outline.active {
  color: #ffffff;
  background-color: #ff3366;
  border-color: #ff3366;
}
.btn-secondary-outline.disabled,
.btn-secondary-outline:disabled {
  color: #ffffff !important;
  background-color: #ff3366 !important;
  border-color: #ff3366 !important;
}
.btn-info-outline,
.btn-info-outline:active {
  background: none;
  border-color: #062e3c;
  color: #062e3c;
}
.btn-info-outline:hover,
.btn-info-outline:focus,
.btn-info-outline.focus,
.btn-info-outline.active {
  color: #ffffff;
  background-color: #0f7699;
  border-color: #0f7699;
}
.btn-info-outline.disabled,
.btn-info-outline:disabled {
  color: #ffffff !important;
  background-color: #0f7699 !important;
  border-color: #0f7699 !important;
}
.btn-success-outline,
.btn-success-outline:active {
  background: none;
  border-color: #f4e634;
  color: #f4e634;
}
.btn-success-outline:hover,
.btn-success-outline:focus,
.btn-success-outline.focus,
.btn-success-outline.active {
  color: #877e08;
  background-color: #f9f295;
  border-color: #f9f295;
}
.btn-success-outline.disabled,
.btn-success-outline:disabled {
  color: #877e08 !important;
  background-color: #f9f295 !important;
  border-color: #f9f295 !important;
}
.btn-warning-outline,
.btn-warning-outline:active {
  background: none;
  border-color: #2c3234;
  color: #2c3234;
}
.btn-warning-outline:hover,
.btn-warning-outline:focus,
.btn-warning-outline.focus,
.btn-warning-outline.active {
  color: #ffffff;
  background-color: #5b686b;
  border-color: #5b686b;
}
.btn-warning-outline.disabled,
.btn-warning-outline:disabled {
  color: #ffffff !important;
  background-color: #5b686b !important;
  border-color: #5b686b !important;
}
.btn-danger-outline,
.btn-danger-outline:active {
  background: none;
  border-color: #000000;
  color: #000000;
}
.btn-danger-outline:hover,
.btn-danger-outline:focus,
.btn-danger-outline.focus,
.btn-danger-outline.active {
  color: #ffffff;
  background-color: #232323;
  border-color: #232323;
}
.btn-danger-outline.disabled,
.btn-danger-outline:disabled {
  color: #ffffff !important;
  background-color: #232323 !important;
  border-color: #232323 !important;
}
.btn-black-outline,
.btn-black-outline:active {
  background: none;
  border-color: #000000;
  color: #000000;
}
.btn-black-outline:hover,
.btn-black-outline:focus,
.btn-black-outline.focus,
.btn-black-outline.active {
  color: #ffffff;
  background-color: #333333;
  border-color: #333333;
}
.btn-black-outline.disabled,
.btn-black-outline:disabled {
  color: #ffffff !important;
  background-color: #333333 !important;
  border-color: #333333 !important;
}
.btn-white-outline,
.btn-white-outline:active,
.btn-white-outline.active {
  background: none;
  border-color: #ffffff;
  color: #ffffff;
}
.btn-white-outline:hover,
.btn-white-outline:focus,
.btn-white-outline.focus {
  color: #333333;
  background-color: #ffffff;
  border-color: #ffffff;
}
.text-primary {
  color: #232323 !important;
}
.text-secondary {
  color: #ff3366 !important;
}
.text-success {
  color: #f9f295 !important;
}
.text-info {
  color: #0f7699 !important;
}
.text-warning {
  color: #5b686b !important;
}
.text-danger {
  color: #232323 !important;
}
.text-white {
  color: #ffffff !important;
}
.text-black {
  color: #000000 !important;
}
a.text-primary:hover,
a.text-primary:focus {
  color: #000000 !important;
}
a.text-secondary:hover,
a.text-secondary:focus {
  color: #cc0033 !important;
}
a.text-success:hover,
a.text-success:focus {
  color: #f4e634 !important;
}
a.text-info:hover,
a.text-info:focus {
  color: #062e3c !important;
}
a.text-warning:hover,
a.text-warning:focus {
  color: #2c3234 !important;
}
a.text-danger:hover,
a.text-danger:focus {
  color: #000000 !important;
}
a.text-white:hover,
a.text-white:focus {
  color: #b3b3b3 !important;
}
a.text-black:hover,
a.text-black:focus {
  color: #4d4d4d !important;
}
.alert-success {
  background-color: #70c770;
}
.alert-info {
  background-color: #0f7699;
}
.alert-warning {
  background-color: #5b686b;
}
.alert-danger {
  background-color: #232323;
}
.mbr-section-btn a.btn:not(.btn-form) {
  border-radius: 100px;
}
.mbr-section-btn a.btn:not(.btn-form):hover,
.mbr-section-btn a.btn:not(.btn-form):focus {
  box-shadow: none !important;
}
.mbr-section-btn a.btn:not(.btn-form):hover,
.mbr-section-btn a.btn:not(.btn-form):focus {
  box-shadow: 0 10px 40px 0 rgba(0, 0, 0, 0.2) !important;
  -webkit-box-shadow: 0 10px 40px 0 rgba(0, 0, 0, 0.2) !important;
}
.mbr-gallery-filter li a {
  border-radius: 100px !important;
}
.mbr-gallery-filter li.active .btn {
  background-color: #232323;
  border-color: #232323;
  color: #ffffff;
}
.mbr-gallery-filter li.active .btn:focus {
  box-shadow: none;
}
.nav-tabs .nav-link {
  border-radius: 100px !important;
}
a,
a:hover {
  color: #232323;
}
.mbr-plan-header.bg-primary .mbr-plan-subtitle,
.mbr-plan-header.bg-primary .mbr-plan-price-desc {
  color: #d5d5d5;
}
.mbr-plan-header.bg-success .mbr-plan-subtitle,
.mbr-plan-header.bg-success .mbr-plan-price-desc {
  color: #ffffff;
}
.mbr-plan-header.bg-info .mbr-plan-subtitle,
.mbr-plan-header.bg-info .mbr-plan-price-desc {
  color: #3cbfec;
}
.mbr-plan-header.bg-warning .mbr-plan-subtitle,
.mbr-plan-header.bg-warning .mbr-plan-price-desc {
  color: #9ba7aa;
}
.mbr-plan-header.bg-danger .mbr-plan-subtitle,
.mbr-plan-header.bg-danger .mbr-plan-price-desc {
  color: #d5d5d5;
}
/* Scroll to top button*/
#scrollToTop a {
  border-radius: 100px;
}
.form-control {
  font-family: 'Muli', sans-serif;
  font-size: 2rem;
  font-display: swap;
}
.form-control > .mbr-iconfont {
  font-size: 3.2rem;
}
blockquote {
  border-color: #232323;
}
/* Forms */
.mbr-form .btn {
  margin: .4rem 0;
}
.mbr-form .input-group-btn a.btn {
  border-radius: 100px !important;
}
.mbr-form .input-group-btn a.btn:hover {
  box-shadow: 0 10px 40px 0 rgba(0, 0, 0, 0.2);
}
.mbr-form .input-group-btn button[type="submit"] {
  border-radius: 100px !important;
  padding: 1rem 3rem;
}
.mbr-form .input-group-btn button[type="submit"]:hover {
  box-shadow: 0 10px 40px 0 rgba(0, 0, 0, 0.2);
}
.form2 .form-control {
  border-top-left-radius: 100px;
  border-bottom-left-radius: 100px;
}
.form2 .input-group-btn a.btn {
  border-top-left-radius: 0 !important;
  border-bottom-left-radius: 0 !important;
}
.form2 .input-group-btn button[type="submit"] {
  border-top-left-radius: 0 !important;
  border-bottom-left-radius: 0 !important;
}
.form3 input[type="email"] {
  border-radius: 100px !important;
}
@media (max-width: 349px) {
  .form2 input[type="email"] {
    border-radius: 100px !important;
  }
  .form2 .input-group-btn a.btn {
    border-radius: 100px !important;
  }
  .form2 .input-group-btn button[type="submit"] {
    border-radius: 100px !important;
  }
}
@media (max-width: 767px) {
  .btn {
    font-size: .75rem !important;
  }
  .btn .mbr-iconfont {
    font-size: 1rem !important;
  }
}
/* Footer */
.mbr-footer-content li::before,
.mbr-footer .mbr-contacts li::before {
  background: #232323;
}
.mbr-footer-content li a:hover,
.mbr-footer .mbr-contacts li a:hover {
  color: #232323;
}
.footer3 input[type="email"],
.footer4 input[type="email"] {
  border-radius: 100px !important;
}
.footer3 .input-group-btn a.btn,
.footer4 .input-group-btn a.btn {
  border-radius: 100px !important;
}
.footer3 .input-group-btn button[type="submit"],
.footer4 .input-group-btn button[type="submit"] {
  border-radius: 100px !important;
}
/* Headers*/
.header13 .form-inline input[type="email"],
.header14 .form-inline input[type="email"] {
  border-radius: 100px;
}
.header13 .form-inline input[type="text"],
.header14 .form-inline input[type="text"] {
  border-radius: 100px;
}
.header13 .form-inline input[type="tel"],
.header14 .form-inline input[type="tel"] {
  border-radius: 100px;
}
.header13 .form-inline a.btn,
.header14 .form-inline a.btn {
  border-radius: 100px;
}
.header13 .form-inline button,
.header14 .form-inline button {
  border-radius: 100px !important;
}
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
  .card-wrapper {
    flex: auto !important;
  }
}
.jq-selectbox li:hover,
.jq-selectbox li.selected {
  background-color: #232323;
  color: #ffffff;
}
.jq-selectbox .jq-selectbox__trigger-arrow,
.jq-number__spin.minus:after,
.jq-number__spin.plus:after {
  transition: 0.4s;
  border-top-color: currentColor;
  border-bottom-color: currentColor;
}
.jq-selectbox:hover .jq-selectbox__trigger-arrow,
.jq-number__spin.minus:hover:after,
.jq-number__spin.plus:hover:after {
  border-top-color: #232323;
  border-bottom-color: #232323;
}
.xdsoft_datetimepicker .xdsoft_calendar td.xdsoft_default,
.xdsoft_datetimepicker .xdsoft_calendar td.xdsoft_current,
.xdsoft_datetimepicker .xdsoft_timepicker .xdsoft_time_box > div > div.xdsoft_current {
  color: #ffffff !important;
  background-color: #232323 !important;
  box-shadow: none !important;
}
.xdsoft_datetimepicker .xdsoft_calendar td:hover,
.xdsoft_datetimepicker .xdsoft_timepicker .xdsoft_time_box > div > div:hover {
  color: #ffffff !important;
  background: #ff3366 !important;
  box-shadow: none !important;
}
.lazy-bg {
  background-image: none !important;
}
.lazy-placeholder:not(section),
.lazy-none {
  display: block;
  position: relative;
  padding-bottom: 56.25%;
}
iframe.lazy-placeholder,
.lazy-placeholder:after {
  content: '';
  position: absolute;
  width: 100px;
  height: 100px;
  background: transparent no-repeat center;
  background-size: contain;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='32' height='32' viewBox='0 0 64 64' xmlns='http://www.w3.org/2000/svg' stroke='%23232323' %3e%3cg fill='none' fill-rule='evenodd'%3e%3cg transform='translate(16 16)' stroke-width='2'%3e%3ccircle stroke-opacity='.5' cx='16' cy='16' r='16'/%3e%3cpath d='M32 16c0-9.94-8.06-16-16-16'%3e%3canimateTransform attributeName='transform' type='rotate' from='0 16 16' to='360 16 16' dur='1s' repeatCount='indefinite'/%3e%3c/path%3e%3c/g%3e%3c/g%3e%3c/svg%3e");
}
section.lazy-placeholder:after {
  opacity: 0.3;
}
.cid-rN5rNUSxJM {
  background-image: url("../../../assets/images/1-1160-2000x1095.jpeg");
}
.cid-rN5rNUSxJM .mbr-text,
.cid-rN5rNUSxJM .mbr-section-btn {
  text-align: center;
}
.cid-rN5zMJTrMs {
  padding-top: 120px;
  padding-bottom: 90px;
  background-image: url("../../../assets/images/-200110-299-1280x1280.jpeg");
}
.cid-rN5zMJTrMs .testimonial-text {
  font-style: italic;
  font-weight: 300;
  text-align: left;
  color: #ffffff;
}
.cid-rN5zMJTrMs .mbr-author-name {
  font-weight: bold;
}
.cid-rN5zMJTrMs .media-container-row {
  word-wrap: break-word;
  word-break: break-word;
}
@media (max-width: 991px) {
  .cid-rN5zMJTrMs .mbr-figure,
  .cid-rN5zMJTrMs img {
    max-height: 300px;
    width: auto;
    margin: auto;
  }
  .cid-rN5zMJTrMs .media-content {
    padding-top: 1.5rem !important;
  }
}
.cid-rN6A55HoRT {
  padding-top: 90px;
  padding-bottom: 90px;
  background-image: url("../../../assets/images/1-1160-2000x1095.jpg");
}
.cid-rN6A55HoRT h4 {
  font-weight: 500;
  margin-bottom: 0;
  text-align: left;
}
.cid-rN6A55HoRT p {
  color: #767676;
  text-align: left;
}
.cid-rN6A55HoRT .card-box {
  padding-top: 2rem;
}
.cid-rN6A55HoRT .card-wrapper {
  height: 100%;
}
.cid-rN6dpb8HSf {
  background-image: url("../../../assets/images/-951x626.png");
}
.cid-rN6dpb8HSf .mbr-text,
.cid-rN6dpb8HSf .mbr-section-btn {
  text-align: center;
}
.cid-rN6fscilcd {
  padding-top: 90px;
  padding-bottom: 105px;
  background-image: url("../../../assets/images/00020382-1-915x398.jpeg");
}
.cid-rN6fscilcd div.b {
  padding-top: 2rem;
}
.cid-rN6fscilcd .mbr-text {
  color: #ffffff;
  margin: 0;
  padding-top: 1.5rem;
  text-align: left;
}
.cid-rN6fscilcd a:not([href]):not([tabindex]) {
  color: #fff;
  border-radius: 3px;
}
.cid-rN6fscilcd .google-map {
  height: 27rem;
  position: relative;
}
.cid-rN6fscilcd .google-map iframe {
  height: 100%;
  width: 100%;
}
.cid-rN6fscilcd .google-map [data-state-details] {
  color: #6b6763;
  font-family: Montserrat;
  height: 1.5em;
  margin-top: -0.75em;
  padding-left: 1.25rem;
  padding-right: 1.25rem;
  position: absolute;
  text-align: center;
  top: 50%;
  width: 100%;
}
.cid-rN6fscilcd .google-map[data-state] {
  background: #e9e5dc;
}
.cid-rN6fscilcd .google-map[data-state="loading"] [data-state-details] {
  display: none;
}
.cid-rN6fscilcd div.left-block.wrapper {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
@media (max-width: 767px) {
  .cid-rN6fscilcd div.left-block.wrapper {
    padding-bottom: 3rem;
  }
}
.cid-rN6fscilcd H2 {
  color: #ffffff;
}
.cid-rN6fscilcd H5 {
  color: #ffffff;
}
.cid-rN6lJgKCve {
  padding-top: 90px;
  padding-bottom: 90px;
  background-image: url("../../../assets/images/cloudsbase.com-151130-5-1024x576.jpeg");
}
.cid-rN6lJgKCve .media-container-row {
  flex-direction: row-reverse;
  -webkit-flex-direction: row-reverse;
}
@media (min-width: 992px) {
  .cid-rN6lJgKCve .mbr-figure {
    padding-right: 4rem;
    padding-right: 0;
    padding-left: 4rem;
  }
}
@media (max-width: 991px) {
  .cid-rN6lJgKCve .mbr-figure {
    padding-bottom: 3rem;
  }
}
@media (max-width: 767px) {
  .cid-rN6lJgKCve .mbr-text {
    text-align: center;
  }
}
.cid-rN6qlQqJu3 {
  background: #ffffff;
}
.cid-rN6qlQqJu3 .video-block {
  margin: auto;
  width: 100% !important;
}
@media (max-width: 768px) {
  .cid-rN6qlQqJu3 .video-block {
    width: 100% !important;
  }
}
.cid-rN6rPDblY0 {
  padding-top: 60px;
  padding-bottom: 60px;
  background-image: url("../../../assets/images/1-rxloc0lvifxs8zj09wsmea-2000x1334.jpeg");
}
.cid-rN6HWGZrAy {
  padding-top: 90px;
  padding-bottom: 90px;
  background-image: url("../../../assets/images/gettyimages-584423568-1561534232-640x478.jpeg");
}
.cid-rN6HWGZrAy div.b {
  padding-top: 2rem;
}
.cid-rN6HWGZrAy .mbr-text {
  color: #000000;
  margin: 0;
  padding-top: 1.5rem;
}
.cid-rN6HWGZrAy a:not([href]):not([tabindex]) {
  color: #fff;
  border-radius: 3px;
}
.cid-rN6HWGZrAy .google-map {
  height: 25rem;
  position: relative;
}
.cid-rN6HWGZrAy .google-map iframe {
  height: 100%;
  width: 100%;
}
.cid-rN6HWGZrAy .google-map [data-state-details] {
  color: #6b6763;
  font-family: Montserrat;
  height: 1.5em;
  margin-top: -0.75em;
  padding-left: 1.25rem;
  padding-right: 1.25rem;
  position: absolute;
  text-align: center;
  top: 50%;
  width: 100%;
}
.cid-rN6HWGZrAy .google-map[data-state] {
  background: #e9e5dc;
}
.cid-rN6HWGZrAy .google-map[data-state="loading"] [data-state-details] {
  display: none;
}
.cid-rN6HWGZrAy div.left-block.wrapper {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
@media (max-width: 767px) {
  .cid-rN6HWGZrAy div.left-block.wrapper {
    padding-bottom: 3rem;
  }
}
.cid-rN6CpwiZIK {
  padding-top: 90px;
  padding-bottom: 90px;
  background-image: url("../../../assets/images/68455dff409e4a3ca7f4ae314cd5a12d-1080x720.jpeg");
}
.cid-rN6CpwiZIK .card-img {
  background-color: #fff;
}
.cid-rN6CpwiZIK .card-box {
  padding: 2rem;
  background-color: #ffffff;
}
.cid-rN6CpwiZIK h4 {
  font-weight: 500;
  margin-bottom: 0;
  text-align: left;
}
.cid-rN6CpwiZIK p {
  text-align: left;
}
.cid-rN6CpwiZIK .mbr-text {
  color: #000000;
}
.cid-rN6CpwiZIK .card-wrapper {
  height: 100%;
  box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0);
  transition: box-shadow 0.3s;
}
.cid-rN6CpwiZIK .card-wrapper:hover {
  box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.05);
  transition: box-shadow 0.3s;
}
@media (min-width: 992px) {
  .cid-rN6CpwiZIK .my-col {
    flex: 0 0 20%;
    max-width: 20%;
    padding: 15px;
    -webkit-flex: 0 0 20%;
  }
}
.cid-rN6JGeuYFP {
  padding-top: 60px;
  padding-bottom: 90px;
  background-image: url("../../../assets/images/-200110-240-1478x1108.jpg");
}
.cid-rN6Vakz7fN {
  padding-top: 90px;
  padding-bottom: 90px;
  background-image: url("../../../assets/images/14025938151-d998b2f0f4-z-640x223.jpeg");
}
.cid-rN6Vakz7fN div.b {
  padding-top: 2rem;
}
.cid-rN6Vakz7fN .mbr-text {
  color: #000000;
  margin: 0;
  padding-top: 1.5rem;
}
.cid-rN6Vakz7fN a:not([href]):not([tabindex]) {
  color: #fff;
  border-radius: 3px;
}
.cid-rN6Vakz7fN .google-map {
  height: 25rem;
  position: relative;
}
.cid-rN6Vakz7fN .google-map iframe {
  height: 100%;
  width: 100%;
}
.cid-rN6Vakz7fN .google-map [data-state-details] {
  color: #6b6763;
  font-family: Montserrat;
  height: 1.5em;
  margin-top: -0.75em;
  padding-left: 1.25rem;
  padding-right: 1.25rem;
  position: absolute;
  text-align: center;
  top: 50%;
  width: 100%;
}
.cid-rN6Vakz7fN .google-map[data-state] {
  background: #e9e5dc;
}
.cid-rN6Vakz7fN .google-map[data-state="loading"] [data-state-details] {
  display: none;
}
.cid-rN6Vakz7fN div.left-block.wrapper {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
@media (max-width: 767px) {
  .cid-rN6Vakz7fN div.left-block.wrapper {
    padding-bottom: 3rem;
  }
}
.cid-rN6Jm39cGv {
  padding-top: 60px;
  padding-bottom: 60px;
  background-image: url("../../../assets/images/-200110-242-1108x1478.jpeg");
}
.cid-rN6Jm39cGv p {
  color: #767676;
}
.cid-rN6Jm39cGv .mbr-section-subtitle {
  color: #767676;
}
.cid-rN6Jm39cGv .accordion-content {
  flex-basis: 100%;
  -webkit-flex-basis: 100%;
}
.cid-rN6Jm39cGv .panel-group {
  width: 100%;
}
.cid-rN6Jm39cGv .card {
  border-radius: 0px;
  margin-bottom: -1px;
}
.cid-rN6Jm39cGv .card .card-header {
  border-radius: 0px;
  border: 0px;
  padding: 0;
}
.cid-rN6Jm39cGv .card .card-header a.panel-title {
  margin-bottom: 0;
  font-style: normal;
  font-weight: 500;
  display: block;
  text-decoration: none !important;
  margin-top: -1px;
  line-height: normal;
}
.cid-rN6Jm39cGv .card .card-header a.panel-title:focus {
  text-decoration: none !important;
}
.cid-rN6Jm39cGv .card .card-header a.panel-title h4 {
  padding: 1.3rem 2rem;
  border: 1px solid #dfdfdf;
  margin-bottom: 0;
}
.cid-rN6Jm39cGv .card .card-header a.panel-title h4 .sign {
  padding-right: 1rem;
}
.cid-rN6Jm39cGv .mbr-figure {
  -webkit-align-self: flex-start;
  align-self: flex-start;
  padding-left: 4rem;
}
@media (max-width: 991px) {
  .cid-rN6Jm39cGv .mbr-figure {
    padding-right: 0;
    padding-left: 0;
    padding-top: 2rem;
  }
}
.cid-rN6PPMhCv5 {
  padding-top: 5rem;
  padding-bottom: 5rem;
  background-image: url("../../../assets/images/-200110-2-1108x1478.jpeg");
}
.cid-rN6PPMhCv5 .mbr-overlay {
  background: #cccccc;
  opacity: 0.7;
}
.cid-rN6PPMhCv5 p {
  color: #767676;
}
.cid-rN6PPMhCv5 .item:focus,
.cid-rN6PPMhCv5 span:focus {
  outline: none;
}
.cid-rN6PPMhCv5 .item {
  padding-bottom: 3rem;
  cursor: pointer;
}
.cid-rN6PPMhCv5 .item-wrapper {
  position: relative;
}
.cid-rN6PPMhCv5 .item-btn,
.cid-rN6PPMhCv5 h4,
.cid-rN6PPMhCv5 h5 {
  margin: 0;
}
.cid-rN6PPMhCv5 .item-content {
  padding-top: 2rem;
}
.cid-rN6PPMhCv5 item-text {
  color: #000000;
}
.cid-rN6U0QRPl0 {
  padding-top: 90px;
  padding-bottom: 120px;
  background-image: url("../../../assets/images/1-1162-2000x1095.jpeg");
}
.cid-rN6kGj00wA .navbar {
  padding: .5rem 0;
  background: #333333;
  transition: none;
  min-height: 77px;
}
.cid-rN6kGj00wA .navbar-dropdown.bg-color.transparent.opened {
  background: #333333;
}
.cid-rN6kGj00wA a {
  font-style: normal;
}
.cid-rN6kGj00wA .nav-item span {
  padding-right: 0.4em;
  line-height: 0.5em;
  vertical-align: text-bottom;
  position: relative;
  text-decoration: none;
}
.cid-rN6kGj00wA .nav-item a {
  display: -webkit-flex;
  align-items: center;
  justify-content: center;
  padding: 0.7rem 0 !important;
  margin: 0rem .65rem !important;
  -webkit-align-items: center;
  -webkit-justify-content: center;
}
.cid-rN6kGj00wA .nav-item:focus,
.cid-rN6kGj00wA .nav-link:focus {
  outline: none;
}
.cid-rN6kGj00wA .btn {
  padding: 0.4rem 1.5rem;
  display: -webkit-inline-flex;
  align-items: center;
  -webkit-align-items: center;
}
.cid-rN6kGj00wA .btn .mbr-iconfont {
  font-size: 1.6rem;
}
.cid-rN6kGj00wA .menu-logo {
  margin-right: auto;
}
.cid-rN6kGj00wA .menu-logo .navbar-brand {
  display: flex;
  margin-left: 5rem;
  padding: 0;
  transition: padding .2s;
  min-height: 3.8rem;
  -webkit-align-items: center;
  align-items: center;
}
.cid-rN6kGj00wA .menu-logo .navbar-brand .navbar-caption-wrap {
  display: flex;
  -webkit-align-items: center;
  align-items: center;
  word-break: break-word;
  min-width: 7rem;
  margin: .3rem 0;
}
.cid-rN6kGj00wA .menu-logo .navbar-brand .navbar-caption-wrap .navbar-caption {
  line-height: 1.2rem !important;
  padding-right: 2rem;
}
.cid-rN6kGj00wA .menu-logo .navbar-brand .navbar-logo {
  font-size: 4rem;
  transition: font-size 0.25s;
}
.cid-rN6kGj00wA .menu-logo .navbar-brand .navbar-logo img {
  display: flex;
}
.cid-rN6kGj00wA .menu-logo .navbar-brand .navbar-logo .mbr-iconfont {
  transition: font-size 0.25s;
}
.cid-rN6kGj00wA .menu-logo .navbar-brand .navbar-logo a {
  display: inline-flex;
}
.cid-rN6kGj00wA .navbar-toggleable-sm .navbar-collapse {
  justify-content: flex-end;
  -webkit-justify-content: flex-end;
  padding-right: 5rem;
  width: auto;
}
.cid-rN6kGj00wA .navbar-toggleable-sm .navbar-collapse .navbar-nav {
  flex-wrap: wrap;
  -webkit-flex-wrap: wrap;
  padding-left: 0;
}
.cid-rN6kGj00wA .navbar-toggleable-sm .navbar-collapse .navbar-nav .nav-item {
  -webkit-align-self: center;
  align-self: center;
}
.cid-rN6kGj00wA .navbar-toggleable-sm .navbar-collapse .navbar-buttons {
  padding-left: 0;
  padding-bottom: 0;
}
.cid-rN6kGj00wA .dropdown .dropdown-menu {
  background: #333333;
  display: none;
  position: absolute;
  min-width: 5rem;
  padding-top: 1.4rem;
  padding-bottom: 1.4rem;
  text-align: left;
}
.cid-rN6kGj00wA .dropdown .dropdown-menu .dropdown-item {
  width: auto;
  padding: 0.235em 1.5385em 0.235em 1.5385em !important;
}
.cid-rN6kGj00wA .dropdown .dropdown-menu .dropdown-item::after {
  right: 0.5rem;
}
.cid-rN6kGj00wA .dropdown .dropdown-menu .dropdown-submenu {
  margin: 0;
}
.cid-rN6kGj00wA .dropdown.open > .dropdown-menu {
  display: block;
}
.cid-rN6kGj00wA .navbar-toggleable-sm.opened:after {
  position: absolute;
  width: 100vw;
  height: 100vh;
  content: '';
  background-color: rgba(0, 0, 0, 0.1);
  left: 0;
  bottom: 0;
  transform: translateY(100%);
  -webkit-transform: translateY(100%);
  z-index: 1000;
}
.cid-rN6kGj00wA .navbar.navbar-short {
  min-height: 60px;
  transition: all .2s;
}
.cid-rN6kGj00wA .navbar.navbar-short .navbar-toggler-right {
  top: 20px;
}
.cid-rN6kGj00wA .navbar.navbar-short .navbar-logo a {
  font-size: 2.5rem !important;
  line-height: 2.5rem;
  transition: font-size 0.25s;
}
.cid-rN6kGj00wA .navbar.navbar-short .navbar-logo a .mbr-iconfont {
  font-size: 2.5rem !important;
}
.cid-rN6kGj00wA .navbar.navbar-short .navbar-logo a img {
  height: 3rem !important;
}
.cid-rN6kGj00wA .navbar.navbar-short .navbar-brand {
  min-height: 3rem;
}
.cid-rN6kGj00wA button.navbar-toggler {
  width: 31px;
  height: 18px;
  cursor: pointer;
  transition: all .2s;
  top: 1.5rem;
  right: 1rem;
}
.cid-rN6kGj00wA button.navbar-toggler:focus {
  outline: none;
}
.cid-rN6kGj00wA button.navbar-toggler .hamburger span {
  position: absolute;
  right: 0;
  width: 30px;
  height: 2px;
  border-right: 5px;
  background-color: #ffffff;
}
.cid-rN6kGj00wA button.navbar-toggler .hamburger span:nth-child(1) {
  top: 0;
  transition: all .2s;
}
.cid-rN6kGj00wA button.navbar-toggler .hamburger span:nth-child(2) {
  top: 8px;
  transition: all .15s;
}
.cid-rN6kGj00wA button.navbar-toggler .hamburger span:nth-child(3) {
  top: 8px;
  transition: all .15s;
}
.cid-rN6kGj00wA button.navbar-toggler .hamburger span:nth-child(4) {
  top: 16px;
  transition: all .2s;
}
.cid-rN6kGj00wA nav.opened .hamburger span:nth-child(1) {
  top: 8px;
  width: 0;
  opacity: 0;
  right: 50%;
  transition: all .2s;
}
.cid-rN6kGj00wA nav.opened .hamburger span:nth-child(2) {
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  transition: all .25s;
}
.cid-rN6kGj00wA nav.opened .hamburger span:nth-child(3) {
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
  transition: all .25s;
}
.cid-rN6kGj00wA nav.opened .hamburger span:nth-child(4) {
  top: 8px;
  width: 0;
  opacity: 0;
  right: 50%;
  transition: all .2s;
}
.cid-rN6kGj00wA .collapsed.navbar-expand {
  flex-direction: column;
  -webkit-flex-direction: column;
}
.cid-rN6kGj00wA .collapsed .btn {
  display: -webkit-flex;
}
.cid-rN6kGj00wA .collapsed .navbar-collapse {
  display: none !important;
  padding-right: 0 !important;
}
.cid-rN6kGj00wA .collapsed .navbar-collapse.collapsing,
.cid-rN6kGj00wA .collapsed .navbar-collapse.show {
  display: block !important;
}
.cid-rN6kGj00wA .collapsed .navbar-collapse.collapsing .navbar-nav,
.cid-rN6kGj00wA .collapsed .navbar-collapse.show .navbar-nav {
  display: block;
  text-align: center;
}
.cid-rN6kGj00wA .collapsed .navbar-collapse.collapsing .navbar-nav .nav-item,
.cid-rN6kGj00wA .collapsed .navbar-collapse.show .navbar-nav .nav-item {
  clear: both;
}
.cid-rN6kGj00wA .collapsed .navbar-collapse.collapsing .navbar-buttons,
.cid-rN6kGj00wA .collapsed .navbar-collapse.show .navbar-buttons {
  text-align: center;
}
.cid-rN6kGj00wA .collapsed .navbar-collapse.collapsing .navbar-buttons:last-child,
.cid-rN6kGj00wA .collapsed .navbar-collapse.show .navbar-buttons:last-child {
  margin-bottom: 1rem;
}
@media (min-width: 1024px) {
  .cid-rN6kGj00wA .collapsed:not(.navbar-short) .navbar-collapse {
    max-height: calc(98.5vh - 3.8rem);
  }
}
.cid-rN6kGj00wA .collapsed button.navbar-toggler {
  display: block;
}
.cid-rN6kGj00wA .collapsed .navbar-brand {
  margin-left: 1rem !important;
}
.cid-rN6kGj00wA .collapsed .navbar-toggleable-sm {
  flex-direction: column;
  -webkit-flex-direction: column;
}
.cid-rN6kGj00wA .collapsed .dropdown .dropdown-menu {
  width: 100%;
  text-align: center;
  position: relative;
  opacity: 0;
  overflow: hidden;
  display: block;
  height: 0;
  visibility: hidden;
  padding: 0;
  transition-duration: .5s;
  transition-property: opacity,padding,height;
}
.cid-rN6kGj00wA .collapsed .dropdown.open > .dropdown-menu {
  position: relative;
  opacity: 1;
  height: auto;
  padding: 1.4rem 0;
  visibility: visible;
}
.cid-rN6kGj00wA .collapsed .dropdown .dropdown-submenu {
  left: 0;
  text-align: center;
  width: 100%;
}
.cid-rN6kGj00wA .collapsed .dropdown .dropdown-toggle[data-toggle="dropdown-submenu"]::after {
  margin-top: 0;
  position: inherit;
  right: 0;
  top: 50%;
  display: inline-block;
  width: 0;
  height: 0;
  margin-left: .3em;
  vertical-align: middle;
  content: "";
  border-top: .30em solid;
  border-right: .30em solid transparent;
  border-left: .30em solid transparent;
}
@media (max-width: 1023px) {
  .cid-rN6kGj00wA .navbar-expand {
    flex-direction: column;
    -webkit-flex-direction: column;
  }
  .cid-rN6kGj00wA img {
    height: 3.8rem !important;
  }
  .cid-rN6kGj00wA .btn {
    display: -webkit-flex;
  }
  .cid-rN6kGj00wA button.navbar-toggler {
    display: block;
  }
  .cid-rN6kGj00wA .navbar-brand {
    margin-left: 1rem !important;
  }
  .cid-rN6kGj00wA .navbar-toggleable-sm {
    flex-direction: column;
    -webkit-flex-direction: column;
  }
  .cid-rN6kGj00wA .navbar-collapse {
    display: none !important;
    padding-right: 0 !important;
  }
  .cid-rN6kGj00wA .navbar-collapse.collapsing,
  .cid-rN6kGj00wA .navbar-collapse.show {
    display: block !important;
  }
  .cid-rN6kGj00wA .navbar-collapse.collapsing .navbar-nav,
  .cid-rN6kGj00wA .navbar-collapse.show .navbar-nav {
    display: block;
    text-align: center;
  }
  .cid-rN6kGj00wA .navbar-collapse.collapsing .navbar-nav .nav-item,
  .cid-rN6kGj00wA .navbar-collapse.show .navbar-nav .nav-item {
    clear: both;
  }
  .cid-rN6kGj00wA .navbar-collapse.collapsing .navbar-buttons,
  .cid-rN6kGj00wA .navbar-collapse.show .navbar-buttons {
    text-align: center;
  }
  .cid-rN6kGj00wA .navbar-collapse.collapsing .navbar-buttons:last-child,
  .cid-rN6kGj00wA .navbar-collapse.show .navbar-buttons:last-child {
    margin-bottom: 1rem;
  }
  .cid-rN6kGj00wA .dropdown .dropdown-menu {
    width: 100%;
    text-align: center;
    position: relative;
    opacity: 0;
    overflow: hidden;
    display: block;
    height: 0;
    visibility: hidden;
    padding: 0;
    transition-duration: .5s;
    transition-property: opacity,padding,height;
  }
  .cid-rN6kGj00wA .dropdown.open > .dropdown-menu {
    position: relative;
    opacity: 1;
    height: auto;
    padding: 1.4rem 0;
    visibility: visible;
  }
  .cid-rN6kGj00wA .dropdown .dropdown-submenu {
    left: 0;
    text-align: center;
    width: 100%;
  }
  .cid-rN6kGj00wA .dropdown .dropdown-toggle[data-toggle="dropdown-submenu"]::after {
    margin-top: 0;
    position: inherit;
    right: 0;
    top: 50%;
    display: inline-block;
    width: 0;
    height: 0;
    margin-left: .3em;
    vertical-align: middle;
    content: "";
    border-top: .30em solid;
    border-right: .30em solid transparent;
    border-left: .30em solid transparent;
  }
}
@media (min-width: 767px) {
  .cid-rN6kGj00wA .menu-logo {
    flex-shrink: 0;
    -webkit-flex-shrink: 0;
  }
}
.cid-rN6kGj00wA .navbar-collapse {
  flex-basis: auto;
  -webkit-flex-basis: auto;
}
.cid-rN6kGj00wA .nav-link:hover,
.cid-rN6kGj00wA .dropdown-item:hover {
  color: #c1c1c1 !important;
}
.cid-rN6z7Fkq9C {
  padding-top: 90px;
  padding-bottom: 90px;
  background-image: url("../../../assets/images/-200110-45-1108x1478.jpeg");
}
.cid-rN6z7Fkq9C [class^="socicon-"]:before,
.cid-rN6z7Fkq9C [class*=" socicon-"]:before {
  line-height: 44px;
}
.cid-rN6z7Fkq9C .btn-social {
  font-size: 20px;
  border-radius: 50%;
  padding: 0;
  width: 44px;
  height: 44px;
  line-height: 44px;
  text-align: center;
  position: relative;
  color: #232323;
  cursor: pointer;
  border-color: #149dcc;
}
.cid-rN6z7Fkq9C .btn-social i {
  top: 0;
  line-height: 44px;
  width: 44px;
}
.cid-rN6z7Fkq9C .btn-social:hover {
  color: #fff;
  background: #149dcc;
}
.cid-rN6z7Fkq9C .btn-social:hover i.socicon {
  color: #ffffff !important;
}
.cid-rN6z7Fkq9C .btn-social + .btn {
  margin-left: .1rem;
}
@media (max-width: 767px) {
  .cid-rN6z7Fkq9C .btn {
    font-size: 20px !important;
  }
}
.cid-rN6kGj00wA .navbar {
  padding: .5rem 0;
  background: #333333;
  transition: none;
  min-height: 77px;
}
.cid-rN6kGj00wA .navbar-dropdown.bg-color.transparent.opened {
  background: #333333;
}
.cid-rN6kGj00wA a {
  font-style: normal;
}
.cid-rN6kGj00wA .nav-item span {
  padding-right: 0.4em;
  line-height: 0.5em;
  vertical-align: text-bottom;
  position: relative;
  text-decoration: none;
}
.cid-rN6kGj00wA .nav-item a {
  display: -webkit-flex;
  align-items: center;
  justify-content: center;
  padding: 0.7rem 0 !important;
  margin: 0rem .65rem !important;
  -webkit-align-items: center;
  -webkit-justify-content: center;
}
.cid-rN6kGj00wA .nav-item:focus,
.cid-rN6kGj00wA .nav-link:focus {
  outline: none;
}
.cid-rN6kGj00wA .btn {
  padding: 0.4rem 1.5rem;
  display: -webkit-inline-flex;
  align-items: center;
  -webkit-align-items: center;
}
.cid-rN6kGj00wA .btn .mbr-iconfont {
  font-size: 1.6rem;
}
.cid-rN6kGj00wA .menu-logo {
  margin-right: auto;
}
.cid-rN6kGj00wA .menu-logo .navbar-brand {
  display: flex;
  margin-left: 5rem;
  padding: 0;
  transition: padding .2s;
  min-height: 3.8rem;
  -webkit-align-items: center;
  align-items: center;
}
.cid-rN6kGj00wA .menu-logo .navbar-brand .navbar-caption-wrap {
  display: flex;
  -webkit-align-items: center;
  align-items: center;
  word-break: break-word;
  min-width: 7rem;
  margin: .3rem 0;
}
.cid-rN6kGj00wA .menu-logo .navbar-brand .navbar-caption-wrap .navbar-caption {
  line-height: 1.2rem !important;
  padding-right: 2rem;
}
.cid-rN6kGj00wA .menu-logo .navbar-brand .navbar-logo {
  font-size: 4rem;
  transition: font-size 0.25s;
}
.cid-rN6kGj00wA .menu-logo .navbar-brand .navbar-logo img {
  display: flex;
}
.cid-rN6kGj00wA .menu-logo .navbar-brand .navbar-logo .mbr-iconfont {
  transition: font-size 0.25s;
}
.cid-rN6kGj00wA .menu-logo .navbar-brand .navbar-logo a {
  display: inline-flex;
}
.cid-rN6kGj00wA .navbar-toggleable-sm .navbar-collapse {
  justify-content: flex-end;
  -webkit-justify-content: flex-end;
  padding-right: 5rem;
  width: auto;
}
.cid-rN6kGj00wA .navbar-toggleable-sm .navbar-collapse .navbar-nav {
  flex-wrap: wrap;
  -webkit-flex-wrap: wrap;
  padding-left: 0;
}
.cid-rN6kGj00wA .navbar-toggleable-sm .navbar-collapse .navbar-nav .nav-item {
  -webkit-align-self: center;
  align-self: center;
}
.cid-rN6kGj00wA .navbar-toggleable-sm .navbar-collapse .navbar-buttons {
  padding-left: 0;
  padding-bottom: 0;
}
.cid-rN6kGj00wA .dropdown .dropdown-menu {
  background: #333333;
  display: none;
  position: absolute;
  min-width: 5rem;
  padding-top: 1.4rem;
  padding-bottom: 1.4rem;
  text-align: left;
}
.cid-rN6kGj00wA .dropdown .dropdown-menu .dropdown-item {
  width: auto;
  padding: 0.235em 1.5385em 0.235em 1.5385em !important;
}
.cid-rN6kGj00wA .dropdown .dropdown-menu .dropdown-item::after {
  right: 0.5rem;
}
.cid-rN6kGj00wA .dropdown .dropdown-menu .dropdown-submenu {
  margin: 0;
}
.cid-rN6kGj00wA .dropdown.open > .dropdown-menu {
  display: block;
}
.cid-rN6kGj00wA .navbar-toggleable-sm.opened:after {
  position: absolute;
  width: 100vw;
  height: 100vh;
  content: '';
  background-color: rgba(0, 0, 0, 0.1);
  left: 0;
  bottom: 0;
  transform: translateY(100%);
  -webkit-transform: translateY(100%);
  z-index: 1000;
}
.cid-rN6kGj00wA .navbar.navbar-short {
  min-height: 60px;
  transition: all .2s;
}
.cid-rN6kGj00wA .navbar.navbar-short .navbar-toggler-right {
  top: 20px;
}
.cid-rN6kGj00wA .navbar.navbar-short .navbar-logo a {
  font-size: 2.5rem !important;
  line-height: 2.5rem;
  transition: font-size 0.25s;
}
.cid-rN6kGj00wA .navbar.navbar-short .navbar-logo a .mbr-iconfont {
  font-size: 2.5rem !important;
}
.cid-rN6kGj00wA .navbar.navbar-short .navbar-logo a img {
  height: 3rem !important;
}
.cid-rN6kGj00wA .navbar.navbar-short .navbar-brand {
  min-height: 3rem;
}
.cid-rN6kGj00wA button.navbar-toggler {
  width: 31px;
  height: 18px;
  cursor: pointer;
  transition: all .2s;
  top: 1.5rem;
  right: 1rem;
}
.cid-rN6kGj00wA button.navbar-toggler:focus {
  outline: none;
}
.cid-rN6kGj00wA button.navbar-toggler .hamburger span {
  position: absolute;
  right: 0;
  width: 30px;
  height: 2px;
  border-right: 5px;
  background-color: #ffffff;
}
.cid-rN6kGj00wA button.navbar-toggler .hamburger span:nth-child(1) {
  top: 0;
  transition: all .2s;
}
.cid-rN6kGj00wA button.navbar-toggler .hamburger span:nth-child(2) {
  top: 8px;
  transition: all .15s;
}
.cid-rN6kGj00wA button.navbar-toggler .hamburger span:nth-child(3) {
  top: 8px;
  transition: all .15s;
}
.cid-rN6kGj00wA button.navbar-toggler .hamburger span:nth-child(4) {
  top: 16px;
  transition: all .2s;
}
.cid-rN6kGj00wA nav.opened .hamburger span:nth-child(1) {
  top: 8px;
  width: 0;
  opacity: 0;
  right: 50%;
  transition: all .2s;
}
.cid-rN6kGj00wA nav.opened .hamburger span:nth-child(2) {
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  transition: all .25s;
}
.cid-rN6kGj00wA nav.opened .hamburger span:nth-child(3) {
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
  transition: all .25s;
}
.cid-rN6kGj00wA nav.opened .hamburger span:nth-child(4) {
  top: 8px;
  width: 0;
  opacity: 0;
  right: 50%;
  transition: all .2s;
}
.cid-rN6kGj00wA .collapsed.navbar-expand {
  flex-direction: column;
  -webkit-flex-direction: column;
}
.cid-rN6kGj00wA .collapsed .btn {
  display: -webkit-flex;
}
.cid-rN6kGj00wA .collapsed .navbar-collapse {
  display: none !important;
  padding-right: 0 !important;
}
.cid-rN6kGj00wA .collapsed .navbar-collapse.collapsing,
.cid-rN6kGj00wA .collapsed .navbar-collapse.show {
  display: block !important;
}
.cid-rN6kGj00wA .collapsed .navbar-collapse.collapsing .navbar-nav,
.cid-rN6kGj00wA .collapsed .navbar-collapse.show .navbar-nav {
  display: block;
  text-align: center;
}
.cid-rN6kGj00wA .collapsed .navbar-collapse.collapsing .navbar-nav .nav-item,
.cid-rN6kGj00wA .collapsed .navbar-collapse.show .navbar-nav .nav-item {
  clear: both;
}
.cid-rN6kGj00wA .collapsed .navbar-collapse.collapsing .navbar-buttons,
.cid-rN6kGj00wA .collapsed .navbar-collapse.show .navbar-buttons {
  text-align: center;
}
.cid-rN6kGj00wA .collapsed .navbar-collapse.collapsing .navbar-buttons:last-child,
.cid-rN6kGj00wA .collapsed .navbar-collapse.show .navbar-buttons:last-child {
  margin-bottom: 1rem;
}
@media (min-width: 1024px) {
  .cid-rN6kGj00wA .collapsed:not(.navbar-short) .navbar-collapse {
    max-height: calc(98.5vh - 3.8rem);
  }
}
.cid-rN6kGj00wA .collapsed button.navbar-toggler {
  display: block;
}
.cid-rN6kGj00wA .collapsed .navbar-brand {
  margin-left: 1rem !important;
}
.cid-rN6kGj00wA .collapsed .navbar-toggleable-sm {
  flex-direction: column;
  -webkit-flex-direction: column;
}
.cid-rN6kGj00wA .collapsed .dropdown .dropdown-menu {
  width: 100%;
  text-align: center;
  position: relative;
  opacity: 0;
  overflow: hidden;
  display: block;
  height: 0;
  visibility: hidden;
  padding: 0;
  transition-duration: .5s;
  transition-property: opacity,padding,height;
}
.cid-rN6kGj00wA .collapsed .dropdown.open > .dropdown-menu {
  position: relative;
  opacity: 1;
  height: auto;
  padding: 1.4rem 0;
  visibility: visible;
}
.cid-rN6kGj00wA .collapsed .dropdown .dropdown-submenu {
  left: 0;
  text-align: center;
  width: 100%;
}
.cid-rN6kGj00wA .collapsed .dropdown .dropdown-toggle[data-toggle="dropdown-submenu"]::after {
  margin-top: 0;
  position: inherit;
  right: 0;
  top: 50%;
  display: inline-block;
  width: 0;
  height: 0;
  margin-left: .3em;
  vertical-align: middle;
  content: "";
  border-top: .30em solid;
  border-right: .30em solid transparent;
  border-left: .30em solid transparent;
}
@media (max-width: 1023px) {
  .cid-rN6kGj00wA .navbar-expand {
    flex-direction: column;
    -webkit-flex-direction: column;
  }
  .cid-rN6kGj00wA img {
    height: 3.8rem !important;
  }
  .cid-rN6kGj00wA .btn {
    display: -webkit-flex;
  }
  .cid-rN6kGj00wA button.navbar-toggler {
    display: block;
  }
  .cid-rN6kGj00wA .navbar-brand {
    margin-left: 1rem !important;
  }
  .cid-rN6kGj00wA .navbar-toggleable-sm {
    flex-direction: column;
    -webkit-flex-direction: column;
  }
  .cid-rN6kGj00wA .navbar-collapse {
    display: none !important;
    padding-right: 0 !important;
  }
  .cid-rN6kGj00wA .navbar-collapse.collapsing,
  .cid-rN6kGj00wA .navbar-collapse.show {
    display: block !important;
  }
  .cid-rN6kGj00wA .navbar-collapse.collapsing .navbar-nav,
  .cid-rN6kGj00wA .navbar-collapse.show .navbar-nav {
    display: block;
    text-align: center;
  }
  .cid-rN6kGj00wA .navbar-collapse.collapsing .navbar-nav .nav-item,
  .cid-rN6kGj00wA .navbar-collapse.show .navbar-nav .nav-item {
    clear: both;
  }
  .cid-rN6kGj00wA .navbar-collapse.collapsing .navbar-buttons,
  .cid-rN6kGj00wA .navbar-collapse.show .navbar-buttons {
    text-align: center;
  }
  .cid-rN6kGj00wA .navbar-collapse.collapsing .navbar-buttons:last-child,
  .cid-rN6kGj00wA .navbar-collapse.show .navbar-buttons:last-child {
    margin-bottom: 1rem;
  }
  .cid-rN6kGj00wA .dropdown .dropdown-menu {
    width: 100%;
    text-align: center;
    position: relative;
    opacity: 0;
    overflow: hidden;
    display: block;
    height: 0;
    visibility: hidden;
    padding: 0;
    transition-duration: .5s;
    transition-property: opacity,padding,height;
  }
  .cid-rN6kGj00wA .dropdown.open > .dropdown-menu {
    position: relative;
    opacity: 1;
    height: auto;
    padding: 1.4rem 0;
    visibility: visible;
  }
  .cid-rN6kGj00wA .dropdown .dropdown-submenu {
    left: 0;
    text-align: center;
    width: 100%;
  }
  .cid-rN6kGj00wA .dropdown .dropdown-toggle[data-toggle="dropdown-submenu"]::after {
    margin-top: 0;
    position: inherit;
    right: 0;
    top: 50%;
    display: inline-block;
    width: 0;
    height: 0;
    margin-left: .3em;
    vertical-align: middle;
    content: "";
    border-top: .30em solid;
    border-right: .30em solid transparent;
    border-left: .30em solid transparent;
  }
}
@media (min-width: 767px) {
  .cid-rN6kGj00wA .menu-logo {
    flex-shrink: 0;
    -webkit-flex-shrink: 0;
  }
}
.cid-rN6kGj00wA .navbar-collapse {
  flex-basis: auto;
  -webkit-flex-basis: auto;
}
.cid-rN6kGj00wA .nav-link:hover,
.cid-rN6kGj00wA .dropdown-item:hover {
  color: #c1c1c1 !important;
}
